.pageContainer {
    background-image: linear-gradient(to right, #000000d8, #000000);
    padding-top: 1em;
    padding-bottom: 1em;
    border-top: groove 4px #5a4d37;
}
.pageContainer .pageButtons {
    margin-top: 0.5em;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap:0.2em;    
}
.pageContainer p {
    font-family: 'Raleway semibold';
    font-size: 1.2em;
}


.pageButtons .prev{
    font-family: 'Raleway bold';
    font-size:1em;
    color:white;
    background-color: #8a7c69;
    margin-right: 0.2em;
    padding: 0.4em;
    border:none;
    border-radius: 0px 2em 2em 0px;
    transition: all 0.2s ease-in-out;
}
.pageButtons .buttons {
    font-family: 'Raleway bold';
    font-size:1em;
    color:white;
    background-color: #8a7c69;
    margin: 0.2em;
    padding: 0.2em;
    width: 2.5em;
    border:none;
    border-radius: 2em;
    transition: all 0.2s ease-in-out;
}
.pageButtons .next{
    font-family: 'Raleway bold';
    font-size:1em;
    color:white;
    background-color: #8a7c69;
    margin-left: 0.2em;
    padding: 0.4em;
    border:none;
    border-radius: 2em 0px 0px 2em;
    transition: all 0.2s ease-in-out;
}

.pageButtons button:hover {
    cursor: pointer;
    background-color: #aa9a84;
    box-shadow: 1px 2px 2px rgba(255, 255, 255, 0.4);
    transform: translateY(-2px);
}

.cardsContainer {
    padding: 2em;
    background-image: url("../../images/cardsContainer.jpg");
    background-size: cover;
    background-position: 100%;
    display: flex; 
	flex-flow: row wrap;
	justify-content: space-evenly;
	gap: 8em 5em;
}