.landing {
	display: flex;
	align-items: center;
    justify-content: center;
	min-height: 100vh;
	background: url("../../images/landing.jpg");
	background-size: cover;
	background-position: 100%;
}

.landing .container {
	display: flex;
	padding: 1.5em;
	flex-direction: column;
	align-items: center;
	gap: 3em;
    width: 40em;
    height: 30em;
    background-color: rgba(0, 0, 0, 0.781);
    border-radius:3.6em;
    border-style: groove;
    border-color: #dabd8b;
}

.landing .container p {
    font-family: 'Raleway bold';
    font-size: 3em;
    color:#f2f4eee3;
}

.landing h1 {
    text-align: center;
    font-size: 5em;
    background-image: linear-gradient(to right, #0FAE09, #89f856);
    background-clip: text;
    color: transparent;
}

.link {
    background-image: linear-gradient(109.6deg,#8a7c69,#bda57b);
    font-family: 'Raleway semibold';
    color: #f2f4eecc;
    font-size: 3.7em;
    padding: 0.4em 0.8em;
    text-align: center;
    border: none;
    border-radius: 1em 0px 1em 0px;
    transition: background-color 0.3s ease;
    cursor:pointer;
    box-shadow: 2px 3px 7px rgba(255, 255, 255, 0.4);
    transition: box-shadow 0.3s ease, transform 0.3s ease;
}
.link:hover  {
    background-image: linear-gradient(109.6deg,#dabd8b9d,#dabd8bc7);
    color: #f2f4ee;
    box-shadow: 2px 3px 4px rgba(255, 255, 255, 0.4);
    transform: translateY(-3px);
}