.navBar {
    background-image: linear-gradient(to right, #000000d8, #000000);
    display: flex; 
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
    height: fit-content;
}

.navBar h2 {
    font-size: 2em;
    background-image: linear-gradient(to right, #0FAE09, #89f856);
    background-clip: text;
    color: transparent;
    height: fit-content;
    width: fit-content;
}

.link {
    background-image: linear-gradient(109.6deg,#8a7c69,#bda57b);
    font-family: 'Raleway semibold';
    color: #f2f4eecc;
    font-size: 1.8em;
    margin: 0.5em;
    padding: 0.2em 0.4em;
    text-align: center;
    border: none;
    border-radius: 0.4em 0.1em 0.4em 0.1em;
    cursor:pointer;
    box-shadow: 2px 3px 7px rgba(255, 255, 255, 0.4);
    transition: box-shadow 0.3s ease, transform 0.3s ease;
}
.link:hover  {
    background-image: linear-gradient(109.6deg,#dabd8b9d,#dabd8bc7);
    color: #f2f4ee;
    box-shadow: 2px 3px 4px rgba(255, 255, 255, 0.4);
    transform: translateY(-3px);
}